#
# {{ansible_managed}}
#
[Unit]
Description=Jenkins JNLP Slave Service
Wants=network.target
After=network.target

[Service]
ExecStart=/usr/bin/java -Xrs {% if jenkins_slave_java_opts | trim != '' %}{{ jenkins_slave_java_opts }}{% endif %} -jar {{ jenkins_slave_home }}/slave.jar -jnlpUrl {{ jenkins_master_url }}/computer/${JENKINS_NODE_NAME}/slave-agent.jnlp {% if jenkins_slave_node_secret | trim != '' %}-secret {{ jenkins_slave_node_secret }}{% endif %}
User={{ jenkins_slave_username }}
Group={{ jenkins_slave_username }}
PermissionsStartOnly=true
Restart=always
LimitNOFILE=8192
RestartSec=10
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
